<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
    </head>
    <body>
        <h1>Login Page</h1>
        <button><a href="/login">Login</a></button>
    </body>
</html>