<!DOCTYPE html>
<html>
    <head>
        <title>
        User Profile
        </title>
    </head>
    <body>
        <h1>User LoggedIn!!</h1>
        <button><a href="/logout">Logout</a></button>
        <%=userProfile%>
    </body>
</html>